<div class="main-container">
  <div class="grid">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail), class: "grid__link" do %>
        <div class="drink-card">
          <%= cl_image_tag cocktail.photo.key, class: "drink-card__photo" %>
          <div class="button drink-card__button">Make it yourself</div>
        </div>
        <h4 class="grid__name"><%= cocktail.name %></h4>
      <% end %>
    <% end %>
  </div>
</div>
