<div class="home-banner">
  <div class="home-banner__background">
    <div class="home-banner__image home-banner__image--left"></div>
    <div class="home-banner__image home-banner__image--right"></div>
  </div>
  <div class="home-banner__content">
    <h1 class="home-banner__heading"><span>Sips</span> about to go <br>down</h1>
    <%= link_to "Get started", cocktails_path, class: "button home-banner__button" %>
  </div>
</div>
