.drink-card {
  height: 380px;
  width: 266px;
  position: relative;

  &__photo {
    width: 266px;
    height: 380px;
    object-fit: cover;
  }

  &__button {
    border: none;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    font-size: 1.2em;
    height: 35px;
    padding: 0 40px;
    visibility: hidden;
    z-index: 9;
    position: absolute;
    top: 172px;
    left: 40px;

    &:hover {
      color: white;
      visibility: visible;
    }

    &:focus {
      outline: none;
      background: black;
    }
  }

  &__photo:hover ~ &__button {
    visibility: visible;
  }
}
