<%= simple_form_for [cocktail, review] do |f| %>
  <%= f.input :rating, collection: 0..5,
      input_html: { class: 'form__input-text' },
      label_html: { class: 'form__label-text' },
      wrapper_html: { class: 'form__wrapper form__wrapper--text' }
  %>
  <%= f.input :content,
      input_html: { class: 'form__input-text' },
      label_html: { class: 'form__label-text' },
      wrapper_html: { class: 'form__wrapper form__wrapper--text' }
  %>
  <button class="button button--primary button--center"><%= f.submit "Submit", class: "button--input" %></button>
<% end %>
